<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @newscategory.category %>
</p>


<%= link_to 'Edit', edit_newscategory_path(@newscategory) %> |
<%= link_to 'Back', newscategories_path %>
