/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
*/
// $linkColor: #E25550;
// $linkColorHover: #000;

@import "bootstrap";

@mixin rounded-corners {  
  border-radius: 5px;  
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;  
}  
.content {
  //background-color: #DEE8EC;
  background-image: url('blue1.jpg');
  //background-repeat: repeat-x;
  min-height:400px;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  @include border-radius(0 0 6px 6px);
  @include box-shadow(0 1px 2px rgba(0,0,0,0.15));
}

.tabbable{
	padding: 10px;
	background-color: white;
	@include rounded-corners;
}

.inset-text-background{
  background-image: url('Black50.png');
  text-align: center;
  @include rounded-corners;   
}
.inset-text {
    font-size: 22px;
    //color: #C2D5E4;
    color: #FFFFFF;
    //text-shadow: 0px -2px 0px #333, 0px 2px 3px #666;
    text-shadow: 2px 3px 3px #292929;  
    font-weight: bold;
}

.inset-text2 {
    //background: #808080;
    font-size: 17px;
    //color: #C2D5E4;
    color: #FFFFFF;
    //text-shadow: 0px -2px 0px #333, 0px 2px 3px #666;
    text-shadow: 2px 3px 3px #292929;  
    font-weight: bold;
    text-align: center;
  @include rounded-corners;   
}
.inset-text3 {
    font-size: 17px;
    color: #FFFC5F;
    text-shadow: 2px 3px 3px #292929;  
    font-weight: bold;
    text-align: center;
  @include rounded-corners;   
}

.inset-text4 {
    font-size: 15px;
    color: #FFFD98;
    text-shadow: 2px 3px 3px #292929;  
    font-weight: bold;
    text-align: center;
  @include rounded-corners;      
}



#news-stats-donut {
  height: 200px;
}
#pub-stats-donut {
  height: 200px;
  
}
#unpub-stats-donut {
  height: 200px;
  
}
.donut-container {
  float: left;
}
.donut-stats {
  height: 200px;
  width: 200px;
  margin: auto;
}

.global-background {
  background-image: url('blue1.jpg');
  padding-top: 10px;
  padding-bottom: 10px;
  @include rounded-corners;
}

.global-background2 {
  background-image: url('blue1.jpg');
  padding: 10px;
  @include rounded-corners;
}

.theader {
  background-color: #D9EDF7;
}
